.nav {
  background-color: transparent;
  padding: 10px;
  z-index: 1;
  position: fixed;
  height: 50px;
  width: 100%;
  transition: background-color 0.3s ease; 
}

.nav h1 {
  color: white;
  font-family: 'Sans-serif';
  font-weight: 800;
  margin-left: 80px;
}

@media (max-width: 1312px) {
  .nav h1 {
    color: black;
    margin-left: 0px;
  }
}

.nav-logged-in {
  background-color: black; 
  
}

.nav-logged-in h1 {
  color: white; 
}
